.about img {
  padding: 0px 20px;
  width: 300px;
  height: 200px;
}
.columns {
  justify-content: center;
  padding-left: 20px;
}
.name p {
  font-size: 1rem;
}
.name {
  padding: 5px;
}
.name h2 {
  font-size: 1.7rem;
}
